---
import StaggeredTitle from "./StaggeredTitle.astro";
import PostCard from "./PostCard.astro";
import ReadMore from "./ReadMore.astro";
import NothingHere from "./NothingHere.astro";
const MAX_LENGTH = 10000;
const { posts, length = MAX_LENGTH } = Astro.props;
---

<section>
    <StaggeredTitle>آخرین نوشته‌ها</StaggeredTitle>
    <div class="posts-container">
        <NothingHere />

        {
            posts.slice(0, length).map((item) => {
                return (
                    <PostCard
                        image={item.image}
                        title={item.title}
                        author={item.author}
                        url={item.slug}
                        id={item.id}
                        excerpt={item.excerpt}
                        date={item.date}
                    />
                );
            })
        }
    </div>
    {length !== MAX_LENGTH && <ReadMore url="blog/1" />}
</section>
<style>
    section {
        position: relative;
    }
    .posts-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin: 10px;
        margin-right: 10%;
        gap: 40px;
    }
</style>
